{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
	<br>
	<br>Please Upload your documents :
	<br><br>
      <table>
         <tr>
            <th>Document Name</th>
            <th>Upload Action</th>
         </tr>
         <tr>
           <td>Tender</td>
            <td>submit</td>
         </tr>
         <tr>
            <td>Request for Quotations (RFQ) </td>
            <td>submit</td>
         </tr>
         <tr>
            <td>Customer Clarifications</td>
            <td>submit</td>
         </tr>
      </table>

	<p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
